.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  width: 80%;
  height: 100%;
  background-color: var(--nokia-bg);
}

.game__board {
  background-color: var(--screen-grey);
  width: 120vmin;
  height: 80vmin;
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(21, 1fr);
}

.snake {
  background-color: var(--snake-grey);
  z-index: 10;
}

.food {
  background-color: var(--snake-grey);
  z-index: 9;
}
