.game__title {
  font-size: 3rem;
  text-align: center;
  font-family: 'NokiaKokia', sans-serif;
  color: #e7ecf1;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 1000px) {
  .game__title {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 800px) {
  .game__title {
    font-size: 1.75rem;
  }
}

.game {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 0;
  width: 1150px;
  height: 750px;
  background-color: var(--nokia-bg);
  border-radius: 32px;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  z-index: 1;
}
@media only screen and (max-width: 1200px) {
  .game {
    width: 950px;
    height: 650px;
  }
}
@media only screen and (max-width: 1000px) {
  .game {
    width: 625px;
    height: 525px;
  }
}
@media only screen and (max-width: 800px) {
  .game {
    width: 340px;
    height: 700px;
  }
}
@media only screen and (max-width: 321px) {
  .game {
    width: 300px;
    height: 500px;
  }
}

.game__board {
  background-color: var(--screen-grey);
  width: 950px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(21, 1fr);
}
@media only screen and (max-width: 1200px) {
  .game__board {
    background-color: var(--screen-grey);
    width: 750px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(21, 1fr);
  }
}
@media only screen and (max-width: 1000px) {
  .game__board {
    background-color: var(--screen-grey);
    width: 500px;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(21, 1fr);
  }
}
@media only screen and (max-width: 800px) {
  .game__board {
    background-color: var(--screen-grey);
    width: 300px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(21, 1fr);
  }
}
@media only screen and (max-width: 321px) {
  .game__board {
    background-color: var(--screen-grey);
    width: 280px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(21, 1fr);
  }
}

.snake {
  background-color: var(--snake-grey);
  z-index: 10;
}

.food {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--snake-grey);
  z-index: 9;
  overflow: hidden;
  clip-path: circle();
}
