:root {
  --screen-grey: #8faf63;
  --snake-grey: #1e2408;
  --nokia-bg: #55616f;
}

@font-face {
  font-family: 'Pixeboy';
  src: url('/assets/Pixeboy-z8XGD.ttf') format('truetype');
}

@font-face {
  font-family: 'NokiaKokia';
  src: url('/assets/NokiaKokia.ttf') format('truetype');
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background: #3b3737;
}
@media only screen and (max-width: 800px) {
  body {
    overflow-y: hidden;
    overscroll-behavior: none;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Pixeboy', sans-serif;
  /* border: 1px solid green; */
}

a:link,
a:visited,
a:hover,
a:active {
  color: unset;
  text-decoration: none;
}

*:focus-visible {
  border: 3px solid grey;
  outline: none;
}
