:root {
  --screen-grey: #b8c400;
  --snake-grey: #725e05;
}

@font-face {
  font-family: 'Pixeboy';
  src: url('/assets/Pixeboy-z8XGD.ttf') format('truetype');
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Pixeboy', sans-serif;
  /* border: 1px solid green; */
}

a:link,
a:visited,
a:hover,
a:active {
  color: unset;
  text-decoration: none;
}

*:focus-visible {
  border: 3px solid grey;
  outline: none;
}

.title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
  font-family: 'Pixeboy', sans-serif;
}
